<!DOCTYPE html>
<html>

<head>
	<title>투표 목록</title>
	<script src="../../javascripts/jquery.js"></script>
	<script src="../../javascripts/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="/dist/semantic.min.js"></script>
	<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<script type="text/javascript">
		$(document)
			.ready(function() {
				$('.ui.teal.progress').progress();
			});

		function showHdReg() {

			location.href = './votereg'; //투표등록

		}

		function goDetail(id) {
			location.href = './votedetail/' + id;
			//location.href = './votedetail';
		}
	</script>
	<style type="text/css">
		.ui.card>.content>.header,
		.ui.cards>.card>.content>.header {
			display: block;
			font-family: 'Jeju Gothic', serif;
			color: rgba(0, 0, 0, .85);
		}
	
		.ui.progress>.label {
			top: 0px;
		}
		
		.ui.link.cards {
			margin-top : 20px;
		}
		
		#addcard {
			display: table;
		}
		
		#addcardcont {
			display: table;
			vertical-align: middle;
		}
		
	</style>
</head>

<body>
	<!-- Navigation -->
	<% include ../partials/navigation.ejs %>
		<!-- Page Content -->
		<div class="ui container">
			<div class="ui link three stackable cards">
				<div class="card" id="addcard" onclick="javascript:showHdReg()" style="padding:.5em;">
					<div class="content" id="addcardcont">
						<div class="header">투표를 등록해주세요!</div>
						<div class="description">
							복수투표, 익명투표가 가능합니다.
						</div>
					</div>
					<div class="ui bottom attached button" style="background-color:#ee5252;">
						<span style="color:#fff;">
						<i class="add icon"></i>
						투표 등록
						</span>
					</div>
				</div>
				<% for (var i=0; i < data.master_info.length; i++) { %>

					<!--% if (data.master_info[i].parti_org_id == data.user_info[0].team_id || data.master_info[i].parti_org_id == data.user_info[0].sm_id ) { %-->
					<div class="card">
						
						<% if (data.master_info[i].deadline >= data.master_info[i].systime) {  %>
							<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#ee5252; max-height:56px">
						<% } else if( data.master_info[i].state=='C' ){  %>
							<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#b4b4b4; max-height:56px">
						<% } else { %>
							<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#b4b4b4; max-height:56px">
						<% } %>	
						
							<img class="ui avatar image" src="<%=data.master_info[i].user_img%>">
							<span style="color:#fff; font-size:0.85em"><%=data.master_info[i].user_name%> (<%=data.master_info[i].org_nm%>)</span>
	
	
	
							<div class="right floated meta" style=" font-size:0.7em">
								<% if (data.master_info[i].deadline >= data.master_info[i].systime) {  %>
									<div class="ui orange label">진행중 D -
										<%=data.master_info[i].dday  %></div>
								<% } else if( data.master_info[i].state=='C' ){  %>
									<div class="ui black label">마감</div>
								<% } else { %>
									<div class="ui yellow label">미완료</div>
								<% } %>	
	
							</div>
							
						</div>
						<div class="content" > <!--onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')"-->
							<div class="header"> 
								<%=data.master_info[i].subject%>
							</div>
							<div class="right floated meta"><i class="share alternate icon"></i></div>
	
							<br>
	
							<div class="meta">
								<span class="date">마감 : <%=data.master_info[i].dday_date%> (<%=data.master_info[i].dday_week%>) <%=data.master_info[i].dday_time%></span>
							</div>
							<div class="description">
								<%=data.master_info[i].comment%>...
							</div>
							<br>
							<!-- for (var k=0; k < data.detail_info.length; k++) -->
							<!-- else if( data.master_info[i].vote_id == data.detail_info[k].vote_id ) -->
					
							<% if( data.master_info[i].state == 'C') { %>
								<button class="fluid ui basic black button" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')"><b><i class="trophy icon"></i>결과 확인하기</b></button>
							<% }else { if( data.master_info[i].voted == 'Y') { /* 진행중인 투표에 투표했다면*/ %>
								<button class="fluid ui basic blue button" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')"><b><i class="check square icon"></i>투표완료(수정하기)</b></button>
									<% } else  { %>
								<button class="fluid ui basic red button" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')"><b><i class="hand pointer icon"></i>투표하러 가기</b></button>
							<% } } %>						
						</div>
					</div>
					<br>
					<!--% } %-->
				<% } %>
			</div>
			<!-- container -->
</body>

</html>