<!DOCTYPE html>
<html>
<head>
<title>B2B사업팀 투표</title>
<script src="../../javascripts/jquery.js"></script>
<script src="../../javascripts/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript">
    $(document)
    .ready(function() {
        $('.ui.teal.progress').progress();
        
        //변수설정

        
    });
    
	function showHdReg() {

		location.href = './votereg'; //투표등록

	}
	
	function goDetail(id) {
		location.href = './votedetail/' + vote_id;
	}

</script>
<style type="text/css">
    .ui.progress>.label {
            top: 0px;
        }
</style>
</head>
<body>
<!-- Navigation -->
<% include ../partials/navigation.ejs %>
<!-- Page Content -->
<div class="ui container">
	<div class="ui link three stackable cards">
		<div class="card" id="addcard" onclick="javascript:showHdReg()" style="padding:.5em;">
		    <div class="content" id="addcardcont">
		      <div class="header">Elliot Fu</div>
		      <div class="description">
		        Elliot Fu is a film-maker from New York.
		      </div>
		    </div>
		    <div class="ui bottom attached button" style="background-color:#ee5252;">
		      <span style="color:#fff;">
		      <i class="add icon"></i>
		      투표 등록하기
		      </span>
		    </div>
		</div>
		<% for (var i=0; i < data.master_info.length; i++) { %>
		<div class="card">
			<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#ee5252; max-height:56px">	
				<span style="color:#fff; font-size:1.1em; "><%=data.master_info[i].subject%></span>
				<div class="right floated meta" style=" font-size:0.8em">
					<% if (data.master_info[i].dday_yn >= 0) {  %>
						<div class="ui gray label">진행중 D-
						
						</div>
					<% }else if(data.master_info[i].dday_yn < 0 || data.master_info[i].state=='C'){  %> 
						<div class="ui black label">마감</div>
				    <%	} %>
				</div>
			</div>
			<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')">
			<div class="ui segment">
					<div class="right floated meta"><i class="share alternate icon"></i></div>
					<img class="ui avatar image" src="<%=data.master_info[i].user_img%>">  
					<span style="color:#000; font-size:0.9em"><%=data.master_info[i].user_name%> (SM명)</span>
					<br>
					<span style="color:#000; font-size:0.9em">등록일 : <%=data.master_info[i].reg_date%> (<%=data.master_info[i].reg_week%>) <%=data.master_info[i].reg_time%> </span>
				<div class="ui segment">
					마감일 : <%=data.master_info[i].dday_date%> (<%=data.master_info[i].dday_week%>) <%=data.master_info[i].dday_time%>
					<p></p>
					<div class="description">
					<%=data.master_info[i].comment%>
					</div>
				  	<br>
				  
						<button class="fluid brown ui button" onclick="javascript:showHdReg()" style="background-color:#673434;"> <i class="hand pointer icon"></i>투표하러 가기</button>
				
	  
			</div><!--ui segment-->
			</div>
		</div><!--card-->
		<% } %>
	</div><!-- cards -->
</div><!-- container -->
</body>
</html>