<!DOCTYPE html>
<html>
<head>
<title>B2B사업팀 투표</title>
<script src="../../javascripts/jquery.js"></script>
<script src="../../javascripts/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript">
    
    var team_id = <%= data.user_info[0].team_id %>;  
    
    $(document)
    .ready(function() {
    	 $('.ui.teal.progress').progress();
    });
    
	function showHdReg() {

		location.href = './votereg'; //투표등록

	}
	
	function goDetail(id) {
		location.href = './votedetail/' + id;
		//location.href = './votedetail';
	}

</script>
<style type="text/css">
    .ui.progress>.label {
            top: 0px;
        }
</style>
</head>
<body>
<!-- Navigation -->
<% include ../partials/navigation.ejs %>
<!-- Page Content -->
<div class="ui container">
	<div class="ui link three stackable cards">
		<div class="card" id="addcard" onclick="javascript:showHdReg()" style="padding:.5em;">
		    <div class="content" id="addcardcont">
		      <div class="header">아래 버튼을 눌러주세요.</div>
		      <div class="description">
		        투표 기능도 많이 이용해주세요.  
		      </div>
		    </div>
		    <div class="ui bottom attached button" style="background-color:#ee5252;">
		      <span style="color:#fff;">
		      <i class="add icon"></i>
		      투표 등록하기
		      </span>
		    </div>
		</div>
		<% for (var i=0; i < data.master_info.length; i++) { %>

		<% if (data.master_info[i].parti_org_id == data.user_info[0].team_id ) { %>
		<div class="card">
			<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#ee5252; max-height:56px">	
				<span style="color:#fff; font-size:1.0em; "><%=data.master_info[i].subject%></span>
				<div class="right floated meta" style=" font-size:0.8em">
					<% if (data.master_info[i].deadline >= data.master_info[i].systime) {  %>
						<div class="ui orange label">진행중 D -
						<%=data.master_info[i].ddate - data.master_info[i].sysdate %>
						</div>
					<% }else if( data.master_info[i].state=='C' ){  %> <!--(data.master_info[i].deadline < data.master_info[i].systime)||-->
						<div class="ui black label">마감</div>
				    <% }else { %>
				    	<div class="ui orange label">진행중 D +
						<%=data.master_info[i].sysdate - data.master_info[i].ddate  %>
						</div>
					<% } %>	
				</div>
			</div>
			<div class="content" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')">

					<div class="right floated meta"><i class="share alternate icon"></i></div>
					<img class="ui avatar image" src="<%=data.master_info[i].user_img%>">  
					<span style="color:#000; font-size:0.9em"><%=data.master_info[i].user_name%> (<%=data.master_info[i].org_nm%>)</span>
					<br>
					<span style="color:#000; font-size:0.9em">등록일 : <%=data.master_info[i].reg_date%> (<%=data.master_info[i].reg_week%>) <%=data.master_info[i].reg_time%> </span>
				<div class="ui segment">
					마감일 : <%=data.master_info[i].dday_date%> (<%=data.master_info[i].dday_week%>) <%=data.master_info[i].dday_time%>
					<p></p>
					<div class="description">
					<%=data.master_info[i].comment%>...
					</div>
				  	<br>		
					<% if( data.master_info[i].state=='C') { %> <!--(data.master_info[i].deadline < data.master_info[i].systime) ||-->
						<button class="fluid gray ui button" style="background-color:#4D586A;"><span style="color:#fff;">결과 확인하기</span></button>
				    <% }else {%>
				    <button class="fluid brown ui button" onclick="javascript:goDetail('<%=data.master_info[i].vote_id%>')" style="background-color:#673434;"> <i class="hand pointer icon"></i>투표하러 가기</button>
				    
				    <% }%>
	  
		
			</div>
		</div>


	</div>
	<br>
		<% } %>
	<% } %>
</div><!-- container -->
</body>
</html>