<!DOCTYPE html>
<html>
<head>
<title>B2B사업팀 투표</title>
<script src="../../javascripts/jquery.js"></script>
<script src="../../javascripts/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript">
    $(document)
    .ready(function() {
        $('.ui.teal.progress').progress();
    });
    </script>
<style type="text/css">
    .ui.progress>.label {
            top: 0px;
        }
</style>
</head>
<body>
<!-- Navigation -->
<% include ../partials/navigation.ejs %>
<!-- Page Content -->
<div class="ui container">
	<div class="content">
		<div class="ui segments">
			<div class="ui segment" style="background-color:#ffB914;">
				<div class="header" href="#">
					<span style="font-family: 'Jeju Gothic'; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; line-height: 1.2; font-size:1.5em; letter-spacing:-1.4px; width:100%; color:#FFFFFF"><%= data.master_info.subject %></span>
				</div>
			</div>
			<div class="ui segment">
				<a class="avatar">
				<img src='aa'>
				</a>
				<a class="author"><%= data.master_info.user_name %></a>
				<span class="date"><%= data.master_info.deadline %></span>
				<span class="date"><%= data.master_info.comment %></span>
			</div>
			<div class="ui segment">
				<h3>투표결과</h3>
				<table class="unstackable ui definition table">
				<tbody>
					<% for(var i=0; i<data.detail_info.length; i++) { %>
					<tr style='max-height:50px'>
						<td class="two wide column" style="margin-top: -15px;" id="<%= data.detail_info[i].item_id %>">
							 버튼
						</td>
						<td>
							<div class="ui teal progress" data-percent=<%=data.detail_info[i].cnt*10%> id="example1">
								<div class="bar">
								</div>
								<div class="label">
									<%= data.detail_info[i].item_name %> ( <%= data.detail_info[i].cnt %> )
								</div>
							</div>
						</td>
					</tr>
					<% } %>
				</tbody>
				</table>
				<div class="ui buttons">
					<button class="yellow ui button" id="detailBtn">투표하기</button>
				</div>
			</div>
		</div>
		<!-- 상세보기 segment -->
	</div>
	<!-- content -->
</div>
<!-- container -->
</body>
</html>