<!DOCTYPE html>
<html>
<head>
<title>B2B사업팀 투표</title>
<script src="../../javascripts/jquery.js"></script>
<script src="../../javascripts/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=770adf51a5a246189a8db45706f471ce&libraries=services"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript">
    
    var vote_content_cnt  =  <%= data.detail_info.length %>; 
    
    $(document)
    .ready(function() {
    	// 투표 검증 처리
    	var verifyVote = "<%= data.verifyVote %>";
    	if(verifyVote == "NotUser") {
    		alert("투표할 수 있는 조직이 아닙니다.");
    		location.href = "/vote/votemain";
    	}else if(verifyVote == "NotExist"){
    		alert("해당 투표 정보가 존재하지 않습니다.");
    		location.href = "/vote/votemain";
    	}else { //"OK" 
    	}
        

        //변수 설정
        // ├ deadline_dtm = 마감일시
        // ├ parti_org_id = SM or 팀 코드
        // ├ multi_yn     = 다중/단일 투표
        // ├ secret_yn    = 공개/비밀 투표
        // ├ add_item_yn  = 항목 추가 yn
        // ├ noti_yn      = 메일전송?
        // └ vote_content_cnt  = 투표 항목 개수
        var deadline_dtm = <%= data.master_info.deadline %>;
        var parti_org_id = <%= data.master_info.parti_org_id %>;
        var multi_yn     = "<%= data.master_info.multi_yn    %>";
        var secret_yn    = "<%= data.master_info.secret_yn   %>";
        var add_item_yn  = "<%= data.master_info.add_item_yn %>";
        var noti_yn      = "<%= data.master_info.noti_yn     %>";
            vote_content_cnt  =  <%= data.detail_info.length %>;
        var vote_total_cnt = <%= data.vote_total_cnt %>;
        
        
        
        // date_resizing() 
        //   ├ input  : 20170831000000
        //   └ output : 2017년 08월 31일 
        date_resizing(deadline_dtm);
        
        // :투표 타입
        //  ├ 다중/단일 투표
        //  ├ 비밀/공개 투표
        //  └ 항목 추가 yn
        vote_type_show(multi_yn, secret_yn, add_item_yn);
        
        // 투표 현황 테이블 셋팅
        var detail_info_list = <%- JSON.stringify(data.detail_info) %>;
        
        init_vote_table(detail_info_list, vote_total_cnt);
        
        // 비밀투표일 경우 (secret_yn == Y)
        //  ├ 현재 투표 개수         hide()
        //  └ 현재 투표 progress-bar hide()
        init_vote_show(secret_yn);
        // add_item_button_show(add_item_yn);
      
    });
    
    function click_checkbutton() {
    	console.log("check button CLICK : " + this.id);
        	
    	var voteData = {};
    	var item_id = this.id;

    	const master_info = <%- JSON.stringify(data.master_info) %>;
    	voteData.vote_id = master_info.vote_id;
    	voteData.multi_yn = master_info.multi_yn;
    	voteData.item_id = item_id;
    	voteData.isChecked = $("#checked_"+item_id).val(); // Y or N
    	
    	$.ajax({
            type: 'POST',
            data: JSON.stringify(voteData),
            contentType: 'application/json',
            datatype: "json", // expecting JSON to be returned
            url: '/checkItem',
            success: function(result) {
            	console.log(result);
            	if(result.status == 200){
					if(result.type == "delete") {
                    	alert("투표를 취소했습니다.");
                	}else {
                    	alert("투표하였습니다.");
                	}
                    
                    var detail_info_list = result.data.detail_info;
                    var vote_total_cnt = result.data.vote_total_cnt;
                    var secret_yn = result.data.master_info.secret_yn;
                    
                    init_vote_table(detail_info_list, vote_total_cnt);
                    init_vote_show(secret_yn);
                    
                } else {
                	alert("투표 중 오류가 발생했습니다.");
                	location.href = '/vote/votemain';
                	  
              	}
            }
        });
    }
     
     	function init_vote_table(detail_info_list, vote_total_cnt) {
     		//console.log(detail_info_list);
	        var vote_table = $("#vote_detail_table");
	        vote_table.empty();
	        
	        for(var i in detail_info_list) {
	        	var detail_info = detail_info_list[i];
	        	
	        	setVoteItemDetail(vote_table, detail_info, vote_total_cnt);
	        }
     	}
    	
    	/*****************************************************************
    	 * setVoteItemDetail 
    	 * - 각각의 vote item의 상세 정보를 셋팅 한다
    	 * - 셋팅 순서
    	 *   1.vote item TR태그 생성
    	 *   2.버튼 TD태그 생성 및 item 투표 체크 버튼 생성
    	 *   3.Progress Bar TD태그 생성 및 ProgBar 정보 생성
    	 *   4.hidden INPUT태그 생성
    	 *   4.Button, ProgBar TD를 붙인 TR을 TABLE에 append 
    	 ****************************************************************/
    	
    	function setVoteItemDetail(vote_table, detail_info, vote_total_cnt) {
				
			// tr 생성
			var tr = $("<tr>", {"class": "votedetail"});
			
			// check button 생성
			var td_button = $("<td>", {"class": "votedetail"});
			var button = $("<button>", {"id": detail_info.item_id}).addClass(function() {
								var classStr = "ui middle icon button";
								return ((detail_info.voted=="Y")?classStr+" blue":classStr);
							})
			var icon = $("<i>").addClass("check icon");
			button.click(click_checkbutton);
			button.append(icon);
			td_button.append(button);
			
			// progress bar 생성
			var td_progress = $("<td>");
			var div_prog = $("<div>", {"id": "prog_"+detail_info.item_id}).addClass("ui teal progress")
							.attr({"data-percent": detail_info.cnt*100/vote_total_cnt, "cnt": detail_info.cnt});
			var div_bar = $("<div>").addClass("bar");
			var div_label = $("<div>").addClass("label");
			var span_item_name = $("<span>").text(detail_info.item_name);
			var span_item_cnt = $("<span>", {"class": "vote_cnt"}).text("( "+detail_info.cnt+" )");
			
			div_label.append(span_item_name, span_item_cnt);
			div_prog.append(div_bar, div_label);
			td_progress.append(div_prog);
			
			// voted hidden 생성
			var voted_hidden = $("<input>", {"type": "hidden", "id": "checked_"+detail_info.item_id})
								.val(detail_info.voted);
			
			// table에 child로 td 2개가 추가된 tr을 추가
			tr.append(td_button).append(td_progress).append(voted_hidden);
			vote_table.append(tr);
    	}
    	
     	//┌───────────────────────────────────────────────┐
        //│ date_resizing() 							  │
        //│   ├ input  : 20170831000000                   │
        //│   ├ output : 2017년 08월 31일                 │  
        //│   ├ deadline_year         : 2017              │
        //│   ├ deadline_month        : 08                │
        //│   ├ deadline_date         : 31                │
        //│   └ resizing_deadline_dtm : 2017년 08월 31일  │
        //└───────────────────────────────────────────────┘
        function date_resizing(deadline_dtm) {
        	
        	// deadline_dtm type 강제 casting
        	//  └ type : Object → String
        	deadline_dtm += "";
        	
        	var deadline_year  = deadline_dtm.substring(0,4);
        	var deadline_month = deadline_dtm.substring(4,6);
        	var deadline_date  = deadline_dtm.substring(6,8);
        	var resizing_deadline_dtm = deadline_year + "년 "+deadline_month+"월 "+deadline_date+"일";
        	
        	$("#deadline_dtm").text("마감일 : "+resizing_deadline_dtm);
        }
        
        
        //┌───────────────────────────────────────────────┐
        //│ vote_type_show() : 투표 타입 Show			  │
        //│   ├ 단중/단일 투표                            │
        //│   ├ 비밀/공개 투표                            │  
        //│   ├ ToDo                                      │
        //│   └ 항목 추가 가능/ 불가능 표시               │
        //│                                               │
        //└───────────────────────────────────────────────┘
        function vote_type_show(multi_yn, secret_yn, add_item_yn) {
        	
        	vote_type = "";
        	if(multi_yn=='Y'){
        		vote_type = vote_type+"다중/"
        	}
        	else if(multi_yn=="N"){
        		vote_type = vote_type+"단일/"
        	}
        	if(secret_yn=="Y"){
        		vote_type = vote_type+"비밀투표"
        	}
        	else if(secret_yn=="N"){
        		vote_type = vote_type+"공개투표"
        	}
        	
     		$("#vote_type").text(vote_type);
        	
        	if(add_item_yn=='N')
            {
                $("#add_item_button").hide();
            }
        	
        	
        }
        
        
        //┌───────────────────────────────────────────────┐
        //│ init_vote_show() : 비밀투표 경우			  │
        //│   ├ 현재 투표 개수 hide                       │
        //│   ├ progress bar : 10%로 통일                 │  
        //│                                               │
        //└───────────────────────────────────────────────┘
        function init_vote_show(secret_yn) {
        	if(secret_yn == "Y") {
        		$('.vote_cnt').hide();
        		$('.ui.teal.progress.active').attr('data-percent',"10");	
        	}else {
        		$('.ui.teal.progress').progress();
        	}
        	
        	
        }
        
        
        
        //┌───────────────────────────────────────────────┐
        //│ add_item() : 투표 항목 추가 클릭시			  │
        //│   ├ remove 버튼 show                          │
        //│   ├ 항목 input tag show                       │  
        //│                                               │
        //└───────────────────────────────────────────────┘
        function add_item()
        {
           	// var lastItemNo = $(".unstackable.ui.definition.table tr:last").attr("class").replace("item", "");
        	var  last_num = <%= data.detail_info.length %>;
        	
        	var row = "<tr style='max-height:40px'>";
        	row = row +"<td style='margin-top: -15px; width:40px; '>";
        	row = row +"<button class='red ui middle icon button' onClick='javascript:remove_item(this)' text='kkk' style='margin-right: 0px;'><i class='remove icon'></i></button>";
			row = row +"</td>";			
        	row = row +"<td>";
        	row = row +"<div>";
        	row = row +"<input type='text' placeholder='항목을 입력해주세요' style='width: 100%' >";
        	row = row +"</div>";
			row = row +"</td>";				    
			row = row + "</tr>";
        
        	$('#item_add_table').append(row);
        }
        
        
        //┌───────────────────────────────────────────────┐
        //│ remove_item() : 투표 항목 제거 클릭시		  │
        //│   ├ 항목 제거                                 │  
        //│                                               │
        //└───────────────────────────────────────────────┘
        function remove_item(obj)
        {
            $(obj).parent().parent().remove();
        }
        
        
        //┌───────────────────────────────────────────────┐
        //│ show_modal() : 항목 추가하기 모달			  │
        //└───────────────────────────────────────────────┘
        function show_modal()
        {    
            $('.ui.longer.modal').modal('show');
        }
        
        
        function Check_duplicate_vote_item()
        {
            var vote_item_name = $("#add_vote_item_name").val();
            var detail_info_list = <%- JSON.stringify(data.detail_info) %>;
            
            // alert(detail_info_list.length);
            
            // 추가했을 경우 중복된 항목이 있는지 확인하는 flag
            // flag = 0; -> 투표 항목이 없는상태
            // flag = 1; -> 이미 투표 항목이 있는 상태
            var flag = 0; 
            
	        for(var i in detail_info_list) {
	        	if(vote_item_name == detail_info_list[i].item_name)
	        	{
	        	    flag = 1;
	        	    alert("이미 있는 항목입니다.");
	        	    return 0;
	        	}
	        	else if(!vote_item_name.length){
	        	    flag = 1;
	        	    alert("항목을 입력 해주세요")
	        	    break;
	        	}
	        }
	        
	        if( flag == 0)
	        {
	            add_vote_item(vote_item_name);
	        }
        }
        
        function add_vote_item(vote_item_name){
            
            var add_vote_item_Data = {};
            var vote_id = <%= data.master_info.vote_id %>;
            
    	    add_vote_item_Data.vote_id = <%= data.master_info.vote_id %>;
    	    add_vote_item_Data.new_item_id = vote_content_cnt +1;
    	    add_vote_item_Data.item_name = vote_item_name;
           
            $.ajax({
            type: 'POST',
            data: JSON.stringify(add_vote_item_Data),
            contentType: 'application/json',
            datatype: "json", // expecting JSON to be returned
            url: '/add_vote_item',
            success: function(result) {
                
                    var detail_info_list = result.data.detail_info;
                    var vote_total_cnt = result.data.vote_total_cnt;
                    var secret_yn = result.data.master_info.secret_yn;
                    
                    init_vote_table(detail_info_list, vote_total_cnt);
                    init_vote_show(secret_yn);
                    vote_content_cnt = add_vote_item_Data.new_item_id;
                    $("#add_vote_item_name").val("");
            }
        });
            
        }
        
        
        // function add_item_button_show(add_item_yn)
        // {    
          
            
        // }
        
        
        
        
        
        
        
        
        
</script>
    
<style type="text/css">
    .ui.progress>.label {
            top: 0px;
        }
    
    .ui.teal.progress {
    	margin-bottom: 0px;
    }
    
    tr.votedetail {
    	max-height: 40px;
    }
    
    td.votedetail {
    	margin-top: -15px;
    	width: 40px;
    }
    
    .ui.middle.icon.button {
    	margin-right: 0px;
    }    
        
</style>
</head>


<body>
<!-- Navigation -->
<% include ../partials/navigation.ejs %>
<!-- Page Content -->
<div class="ui container">
	<div class="content">
		<div class="ui segments">
			<div class="ui segment" style="background-color:#ffB914;">
				<div class="header" href="#">
					<span style="font-family: 'Jeju Gothic'; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; line-height: 1.2; font-size:1.5em; letter-spacing:-1.4px; width:100%; color:#FFFFFF"><%= data.master_info.subject %></span>
				</div>
			</div>
			<div class="ui segment">
				<div class="ui avatar image">
					<img src="<%= data.master_info.user_img %>" >
				</div>
				
					<a class="author"><%= data.master_info.user_name %></a>
					<p>
						<span class="date"><%= data.master_info.comment %></span>
					</p>
					
					<br>
					<div class="ui two column grid">
						<span class="date" id = "vote_type" style="width: 50%"></span>
						<span class="date" id = "deadline_dtm" style="width: 40%; text-align: right;"></span>
					</div>
			</div>
			<div class="ui segment">
				<!--<h3>투표 현황</h3>-->
				<table class="unstackable ui definition table" id="vote_detail_table">
					<!-- setVoteItemDetail -->
				</table>
				<div class="ui buttons" id ="add_item_button">
					<button class="yellow ui button" onClick="javascript:show_modal()">항목 추가하기</button>
				</div>
				
				<!--항목추가 modal Start-->
				<div class="ui longer modal ">
                	<div class="header" >
                		항목추가
                	</div>
                	<div class="scrolling content">
                	    <table class="unstackable ui definition table" id="item_add_table">
                            <tr style='max-height:40px; '>
                            	<td style="margin-top: -15px; width:40px; ">
                            		<button class="yellow ui middle icon button" onclick="javascript:add_item()" style="margin-right: 0px;"><i class="add icon"></i></button>
                            	</td>
                            	<td>
                            		<div>
                            			<input type='text' id='add_vote_item_name' placeholder='항목을 입력해주세요' style='width: 100%'>
                            		</div>
                            	</td>
                            </tr>
                            
                         </table>
                	</div>
                    <div class="actions">
                        <div class="ui primary approve button" onClick="javascript:Check_duplicate_vote_item()" >항목추가 완료</div>
                        <div class="ui primary approve button">Cancel</div>
                    </div>
                </div>
				<!--항목추가 modal End-->
			</div>
		</div>
		<!-- 상세보기 segment -->
	</div>
	<!-- content -->
</div>
<!-- container -->
</body>
</html>



<!--TODO List-->
<!--1. master comment 800자 화면 처리-->